@import './base.css';

#app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2.5rem 1.5rem 4rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.3s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.18);
  }
}

@media (min-width: 768px) {
  #app {
    padding: 3rem 2.5rem 4.5rem;
  }
}

@media (min-width: 1200px) {
  #app {
    padding: 3.5rem 3rem 5rem;
  }
}
